.titleStyle {
	border-bottom: 2px solid steelblue;
	background-color: steelblue;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 4px;
}

.panelStyle {
	border: 3px solid steelblue;
	margin:5px;
	box-shadow: 0px 0px 10px #888888;
	position: static;
	background-color: aliceblue;
}

.titleButtonsStyle {
    float: right;
}

.titleLabelStyle {
    float: left;
}

.innerPanelButton {
    margin: 1px;
}

.innerPanelButtonHover:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.innerPanelRoundedButton:hover {
    box-shadow: 0px 0px 10px #ccc;
    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    -o-box-shadow: 0px 0px 10px #ccc;
    border-radius:100px;
}

.roundedCorners {
/*-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;*/
border-radius: 12px;
-moz-border-radius: 12px;
}

.topRoundedCorners {
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
}