/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.desktop {
    border: 1px solid #000000;
    background: #222;
    overflow: auto !important;
    width: 99.4% !important;
    height: 98.3% !important;
}

.gwt-MenuBarPopup {
    z-index: 999999999999999999;
}

.emptyDesktop {
    top: 25% !important;
    height: 50% !important;
}

.emptyDesktop h1 {
    font-size: 5em;
    text-shadow: 2px 2px 10px #888888;
}